aws_region   = "ap-northeast-2"
project_name = "soc-misp"

vpc_name            = "soc-misp-vpc"
public_subnet_name  = "misp-public-subnet-a"
private_subnet_name = "misp-private-subnet-a"

tags = {
  Project     = "soc-misp"
  Environment = "sec"
  Service     = "misp"
  ManagedBy   = "terraform"
}