# terraform/sec/terraform.tfvars.example
# 역할: sec 루트 모듈 변수 값 예시 (실제 사용 시 terraform.tfvars 로 복사)
# 흐름: 예시 값 확인 → terraform.tfvars 생성 → terraform apply 시 variables.tf 로 주입

aws_region = "ap-northeast-2"
vpc_id            = "vpc-059836f7c8691c0a9"
public_subnet_id  = "subnet-0f89ed728fca0afe3"
private_subnet_id = "subnet-09ffb7c553f4022fa"
ec2_ami           = "ami-0765f9741eedf9c7b"
nat_security_group_ids = ["sg-06257b0689a50eceb"]
thehive_security_group_ids = ["sg-0cc819516e393e99d"]
existing_nat_eip_alloc_id = "eipalloc-0d92abdc23c6a6e0f"